.Layout-Content{
    margin-top: 75px;
}
.nav{
    text-align: right;
}
.nav li{
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    text-transform: uppercase;
}
.nav a{
    text-decoration: none;
    color: blue;
}
.nav a.selected{
    color: orange;
    border-bottom: 1px solid orange;
}