.add input {
    outline: none;
    border: 1px solid #ccc;
    font: inherit;
    margin: 10px auto;
    display: block;
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.add{
    width: 80%;
    margin: auto;
}
.add button{
    margin-left: 220px;
}
.add h4{
    margin-left: 220px;
}
